<h2>公告板</h2>
<p>本 Blog 的 theme 为“simple”，是 Yurchiu 的新作。</p>
<p><i class='fa fa-volume-up' aria-hidden='true'></i> 改 ID 了。由 cieu 变更为 Yurchiu。</p>
<meting-js server="netease" type="playlist" id="2948937407"></meting-js>
<p>&nbsp;</p>