$text-color                           = rgba(51,51,51,0.77);
$a-hover-color                        = rgb(51,51,51);
$header-bg-color                      = #fbfbfb;
$header-title-color                   = #000;
$header-subtitle-color                = #999;
$header-fa-color                      = #333;
$header-border-color                  = #ddd;
$article-bg-color                     = #fff;
$article-post-border-color            = #ddd;
$article-title-color                  = #000;
$article-meta-color                   = #344048;
$article-a-color                      = rgba(51,51,51,0.77);
$item-shadow-color                    = #ddd;
$paginator-bg-color                   = #eee;
$paginator-color                      = #777;
$paginator-hover-color                = #eee;
$paginator-hover-bg-color             = #777;
$paginator-current-color              = #777;
$paginator-current-bg-color           = #fff;
$topbar-bg-color                      = #fff;
$topbar-border-color                  = #ddd;
$topbar-menu-current-color            = #eee;